<div class="streams-grid">
    {% for item in items %}
    <div class="stream">
        <a href="{{ item.channel.url }}" target="_blank">
            <img src="{{ item.preview.medium }}">
        </a>
        <div class="info">
            <p class="status">
                <a href="{{ item.channel.url }}" target="_blank">
                    {{ item.channel.status }}
                </a>
            </p>
            <p>{{ item.viewers }} Viewer on <a href="{{ item.channel.url }}/profile" target="_blank">{{ item.channel.name }}</a></p>

            <!-- hidden with class hidden -->
            <p class="hidden">Game: {{ item.game }} - Followers: {{ item.channel.followers }}</p>
        </div>
    </div>
    {% endfor %}
</div>