.twitch-toplist h2 {
  text-transform: capitalize;
}

/*
 * Streamers Toplist
 */


/*
 * Games Toplist
 */
.games-grid {
  text-align: center;
}

.games-grid .game {
  margin-right: 10px;
  margin-bottom: 15px;
}
.game .viewer {
  font-size: 12px;
  color: #999;
}