/*
 * -----------------------
 * Check Component
 * -----------------------
 */
.twitch-dot:before {
  content: '■';
  color: white;
  padding-right: 7px;
}

.twitch-online {
  background-color: green;
}

.twitch-offline {
  background-color: red;
}

.twitch-status {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  margin: 15px;
}


/*
 * -----------------------
 * Toplist Component
 * -----------------------
 */
.twitch-toplist h2 {
  text-transform: capitalize;
}

/*
 * Streamers Toplist
 */
.streams-grid {

}

.streams-grid .stream {
  width: 320px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.streams-grid .stream .info {
  overflow: hidden;
  font-size: 12px;
}

.info .status {
  font-size: 14px;
  white-space: nowrap;
}

/*
 * Games Toplist
 */
.games-grid {
  text-align: center;
}

.games-grid .game {
  margin-right: 10px;
  margin-bottom: 15px;
}

.game .viewer {
  font-size: 12px;
  color: #999;
}


/*
 * -----------------------
 * Stream Component
 * -----------------------
 */
.twitch-stream-wrap:after {
  content: "";
  display: block;
  clear: both;
}

.twitch-stream {
  float: left;
}