<!-- Twitch Stream/Video -->
<div class="twitch-stream-wrap">
    <div class="twitch-stream" id="twitch-stream-{{__SELF__.alias}}"></div>
    {% if __SELF__.property('chat') == 1 %}
        <iframe class="twitch-chat"
                frameborder="0"
                scrolling="no"
                id="chat_embed"
                src="https://www.twitch.tv/embed/{{__SELF__.property('twitchId')}}/chat"
                height="{{__SELF__.property('height')}}"
                width="{{__SELF__.property('chat-width')}}">
        </iframe>
    {% endif %}
</div>


<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript">
    var options = {
        width: {{__SELF__.property('width')}},
        height: {{__SELF__.property('height')}},

        {% if __SELF__.property('type') == 'video' %}
            video: "v{{__SELF__.property('twitchId')}}"
        {% else %}
            channel: "{{__SELF__.property('twitchId')}}"
        {% endif %}
    };
    var player = new Twitch.Player("twitch-stream-{{__SELF__.alias}}", options);
    player.setVolume({{__SELF__.property('volume')}});
</script>
